<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button>
    </ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content padding>
  <ion-header>
    <h2 text-center>What do you fancy for dinner?</h2>
  </ion-header>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="thisWeek" checked>This week's dinners</ion-segment-button>
    <ion-segment-button value="all">All dinners</ion-segment-button>
  </ion-segment>
  
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      <div text-center *ngIf="isLoading">
          <ion-spinner color="primary"></ion-spinner>
      </div>  
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
   <ion-row> 
    <ion-col size="12" size-sm="8" offset-sm="2" text-center>
         <ion-card *ngFor="let recipe of (thisWeeksRecipes | async)"
          [routerLink]="['/recipes', 'tabs', 'discover', 'detail', recipe.id]">
            <ion-card-header>
              <ion-card-title> {{ recipe.title }} </ion-card-title>
            </ion-card-header>
            <ion-img [src]="recipe.imageUrl"></ion-img>
          <ion-card-content>
            <ion-label>{{ recipe.score }} </ion-label>
          </ion-card-content>
          <div>
          <!-- [] makes router link dynamic -->
          <ion-button fill="clear" color="primary" routerDirection="forward" [routerLink]="['/recipes', 'tabs', 'discover', 'detail', recipe.id]">
          More
           </ion-button>
          </div>
          </ion-card>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
